@charset "UTF-8";

/* @font-face {
    font-family: ;
    src: url();
} */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ffffff;
    --cor1: #000000;
}

body {
    background-color: var(--cor1);
}