@charset "UTF-8";

/* @font-face {
    font-family: ;
    src: url();
} */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ffffff;
    --cor1: #000000;
    --corA: #99a1cf;
    --corB: #606582;
    --corC: #384482;
    --corD: #232947;
    --corE: #282a36;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corA);
}

body {
    background-color: var(--corA);
}

div#container {
    background-color: var(--corB);
    color: #f7f7f7;
    font-weight: bold;
    width: 700px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.7);
}

div#container h1 {
    display: block;
    position: relative;
    top: 0px;
    left: -25px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--cor1);
    background-image: linear-gradient(0deg, var(--corD), var(--corE));
    color: var(--corA);
    border-radius: 15px 15px 0px 0px;
    width: 730px;
    padding: 10px;
    margin: -25px 0px 25px 0px;
}

fieldset {
    padding: 10px;
    border-radius: 5px;
}

div#code {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--corD);
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

fieldset input {
    margin: 7px 5px;
}

.back, .enviar {
    display: block;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    color: var(--corA);
    background-color: var(--corE);
    border: 3px solid var(--corA);
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--cor1);
    padding: 3px 7px;
    margin: 40px auto 0px auto;
    transition: .3s;
}

.back:hover, .enviar:hover {
    background-color: var(--corA);
    color: var(--corE);
    border: 3px solid var(--corE);
}